/*
  ========================================
  Variables
  ========================================
*/

//Colors
$primary-color: #fff;
$secondary-color:  #02baab;
$third-color: #85939f;

//Fonts
$primary-font: 'Oxygen', sans-serif;
$secondary-font: FontAwesome;


//Breakpoints for responsive
$phone-xs: 320px;
$phone: 480px;
$tablet: 768px;
$tablet-lg: 1024px;
$laptop: 1440px;

//Background Image
@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin background($img-uri, $background-top:"center", $background-left:"center") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}