/*
  ========================================
  Clearfix
  ========================================
*/

@import "../util/variable";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}