/*General styles************************************************/
body {
    color: black;
    font-family: 'Raleway', sans-serif !important;
}
.product-view .product-shop .short-description {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
.product-view .product-shop .price-box .price, .product-view .product-shop .price-box-suggested .price {
    font-size: 30px;
}

.tab {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}
.products-grid .item-inner:hover .product-actions .button {
    font-weight: 600;
    background-color: #f9f9f9;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
a:hover {
    text-decoration: none;
}
.custom-row {
    width: 80%;
}

.products-grid .item-inner .product-actions .button {
    width: 100% !important;
    border-radius: 15px;
}

.product-view .product-shop .add-to-cart button {
    border-radius: 15px;
}
.block-cart .block-cart-aside .actions .proceed-checkout, .cart-totals .checkout-types .btn-checkout {
    background-color: #b50707;
    border-radius: 15px;
}
.cart-table tfoot button {
    border-radius: 15px;
}

.product-view .product-shop .product-name h1 {
    color:#000;
    font-size: 32px;
}
.category .text-box strong{
    font-size:23px;
}
#mini-cart .view-cart a {
    border-radius: 15px;
}
.main-aside .block .actions a, .products-grid .availability, .products-list .availability, a.button, button.button, label.button {
    border-radius : 15px
}
@media screen and (min-width: 996px) {
    .nav--primary a.level2 {
        background-color: #fff;
        color:#000;
    }

    .links-after li>a, .links-before li>a, .nav--primary a.level0, .nav--primary-button {
        padding: 25px 15px;
        letter-spacing: 2px;
        text-shadow: 1px 1px #fff;
    }
}

@media (min-width: 996px) {
    .links-after li>a, .links-before li>a, .nav--primary a.level0, .nav--primary-button {
        font-weight: 700;
        font-size: 16px;
    }
}
@media screen and (min-width: 996px) {
    .nav--primary a.level2{
        background-color: #fff;
        color: #000;
        font-weight: 700;
    }
}
.products-grid .product-name {
    font-weight: 600;
    color: #000;
    font-size: 17px;
}
.products-grid .product-name a {
    color: black;
    font-family:'Raleway';
}
.products-grid .price-box .price {
    font-weight: 400;
    color: #000;
    font-family: Raleway;
}
.products-grid .product-box {
    padding:0;
}
.products-grid .item-inner {
    box-sizing: border-box;
}

/*Header styles************************************************/
.list--links a,
.list--dividers .list__item:before {
    color: #737373;
}

.page-header .page-container-wrapper:first-child>.page-container>.page-container-inner {
    padding-top: 0;
    padding-bottom: 0;
}

.page-header .desktop .logo {
    margin-top: -50px;
    position: relative;
}

.tablet-logo,
.phone-logo {
    position: relative;
}

.page-header .desktop .logo:after,
.tablet-logo:after,
.phone-logo:after {
    content: "un mediu microbiologic stabil şi sănătos";
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    font-size: 13px;
    color: #737373;
    font-weight: 400;
}

.tablet-logo:after {
    top: 50%;
    transform: translateY(-50%);
    left: 110%;
    right: initial;
    width: 100%;
    text-align: left;
}

.page-header .mobile .phone-logo {
    margin-bottom: 30px;
}

.phone-logo:after {
    top: 110%;
}

.block-cart>a>span {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}

.showcase .slick-dots button {
    background-color: #39b549;
    border: 1px solid #ffffff;
}

.block-cart .block-cart-aside .actions .proceed-checkout,
.cart-totals .checkout-types .btn-checkout {
    background-color: #b50707;
}

.block-cart>a>i em {
    background-color: #39b549;
    border: 1px solid #FFF;
}
/*Homepage styles************************************************/

.cms-home .row-wrapper:first-child {
    padding-bottom: 0;
}

.cms-home .row-wrapper:nth-child(2),
.cms-home .row-wrapper:nth-child(4) {
    padding: 0;
    margin-top: 0;
}

.cms-index-index .page-main .showcase .bn-wrapper {
    position: relative;
}

.over-banner {
    position: absolute;
    left: 20px;
    right: 20px;
    z-index: 1;
    color: #F9F9F9;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
    bottom: 15%;
    font-size: 34px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.over-banner-right {
    bottom: 15%;
}

.over-banner strong {
    display: block;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
    color: #737373;
}

.over-banner-right strong {
    letter-spacing: 6px;
    color: #316d5e;
}

.over-banner span {
    font-size: 34px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ffffff;
}

.over-banner-right span {
    letter-spacing: 5px;
    color: #737373;
}


.category li {
    width: 25%;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}

.category li:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.category li .text-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 5%;
    padding-right: 0;
    color: #ffffff;
}

.category li .text-box p {
    font-size: 25px;
    font-weight: 100;
    position: relative;
    letter-spacing: 3px;
    padding-bottom: 20px;
    min-height: 116px;
}

.category li .text-box p:after {
    content: "";
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.7);
}

.category .text-box strong {
    font-weight: 500;
}

.category .text-box a {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 300;
    bottom: 20%;
}

.category .text-box a:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 110%;
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/next.png) no-repeat center;
    background-size: cover;
}

.category li img {
    display: block;
    width: 100%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.about-wrapper li {
    position: relative;
    width: 50%;
    display: inline-block;
    float: left;
    color: #ffffff;
}

.about-wrapper li img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.about-wrapper li .text-wrapper {
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    margin-top: -167px;
    z-index: 1;
    line-height: 25px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about-wrapper li:first-child {
    text-align: right;
}

.about-wrapper li:last-child {
    text-align: left;
}

.about-wrapper .text-wrapper div {
    padding-bottom: 25px;
}

.about-wrapper .text-wrapper div:last-child {
    padding-bottom: 0;
}

.about-wrapper .text-wrapper strong {
    position: relative;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 45px;
}

.about-wrapper li:first-child .text-wrapper div strong {
    margin-left: 0;
    margin-right: 45px;
}

.about-wrapper li .text-wrapper div strong:after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 2;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.about-wrapper li .text-wrapper div strong:hover:after {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.about-wrapper li:first-child .text-wrapper div strong:after {
    left: 100%;
    margin-left: 10px;
}

.about-wrapper li:first-child .text-wrapper div:nth-child(1) strong:after {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/care-about-water.png) no-repeat center;
    background-size: contain;
}

.about-wrapper li:first-child .text-wrapper div:nth-child(2) strong:after {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/bacteria.png) no-repeat center;
    background-size: contain;
}

.about-wrapper li:first-child .text-wrapper div:nth-child(3) strong:after {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/first-aid-kit.png) no-repeat center;
    background-size: contain;
}

.about-wrapper li:last-child .text-wrapper div strong:after {
    right: 100%;
    margin-right: 10px;
}

.about-wrapper li:last-child .text-wrapper div:nth-child(1) strong:after {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/shopping-cart.png) no-repeat center;
    background-size: contain;
}

.about-wrapper li:last-child .text-wrapper div:nth-child(2) strong:after {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/increasing-bargraph.png) no-repeat center;
    background-size: contain;
}

.about-wrapper li:last-child .text-wrapper div:nth-child(3) strong:after {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/delivery-truck.png) no-repeat center;
    background-size: contain;
}

.cms-index-index .page-main .page-container {
    padding-bottom: 0;
}

.main-aside .block .actions a,
.products-grid .availability,
.products-list .availability,
a.button, button.button,
label.button {
    background-color: #39b549;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.products-grid .item-inner .product-actions .button {
    width: 70%;
    font-weight: 300;
    letter-spacing: 1px;
}

.products-grid .item-inner:hover .product-actions .button {
    background-color: #f9f9f9;
    color: #737373;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.products-grid .item-inner,
.products-list .item-inner {
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    transition: all 0.5s ease-in-out;
}

.products-grid .item-inner:hover, .products-list .item-inner:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;
}

.badge--sale,
.product-view .discount-percentage span {
    background-color: #39b549;
    color: #ffffff;
}

.form-search button {
    background-color: transparent;
}

h2.subtitle,
strong.subtitle {
    letter-spacing: 2px;
}

/*Footer styles************************************************/

.page-footer .page-container-wrapper:first-child {
    border-top: 0;
}

.page-footer .page-container-wrapper:first-child .page-container {
    padding: 0;
}

.page-footer  .page-container {
    max-width: 1400px;
}

.page-footer .page-container>.marketing-box {
    margin: 0;
}

.page-footer .marketing-box--newsletter {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 30px;
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/marketing.jpg) no-repeat center;
    background-size: cover;
}

.page-footer .marketing-box--shipping,
.page-footer .marketing-box--support {
    float: right;
    width: 25%;
}

.page-footer .marketing-box--shipping {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/support1.jpg) no-repeat center;
    background-size: cover;
}

.page-footer .marketing-box--support {
    background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/support.jpg) no-repeat center;
    background-size: cover;
}

.page-footer .marketing-box {
    padding: 150px 15px;
    max-height: 350px;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.page-footer .marketing-box h4 {
    font-size: 16px;
    font-weight: 300;
}

.page-footer .marketing-box h5 {
    font-weight: 600;
    letter-spacing: 1px;
}

.page-footer .marketing-box--newsletter .button {
    background: #ffffff;
    color: #737373;
    margin-left: 2px;
    transition: all 0.5s ease-in-out;
}

.page-footer .marketing-box--newsletter .button:hover {
    background: #737373;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.page-footer .marketing-box--newsletter .input-text {
    background: #ffffff;
    border-radius: 10px;
}

.footer-logo {
    display: block;
    margin-bottom: 10px;
}

.footer-logo img {
    max-height: 60px;
}

.page-footer a {
    line-height: 20px;
}

.page-footer .footer-links ul {
    width: 33.33%;
    padding-left: 20px;
}

.page-footer .page-container .col-2 {
    width: 20%;
}

.page-footer .page-container .col-4 {
    width: 78%;
    margin-left: 2%;
}

.footer-links ul li:first-child {
    font-size: 13px;
    display: block;
    padding: 0 0 10px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #737373;
}

.footer-links ul li {
    font-size: 13px;
    word-break: break-all;
    line-height: 20px;
    padding: 2px 0;
}

.footer-links ul li a {
    text-decoration: none;
}

/*Responsive styles************************************************/

@media screen and (max-width: 1300px) {

    .about-wrapper li .text-wrapper {
        left: 15%;
        right: 15%;
    }

    .over-banner strong {
        font-size: 35px;
    }

    .over-banner span {
        font-size: 27px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1450px) {

    .category li {
        width: 50%;
    }

    .category li .text-box {
        padding: 6%;
        padding-right: 0;
    }

    .category li .text-box p {
        font-size: 25px;
        padding-bottom: 0;
    }

    .category .text-box a {
        bottom: 8%;
    }
}

@media screen and (min-width: 996px) {

    .cms-home .page-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .page-header .desktop .page-container {
        max-width: 1700px;
    }

    .page-header .page-container-wrapper--nav {
        background: #F9F9F9;
        border: 0;
    }

    .page-header .page-container-wrapper,
    .nav-container,
    .page-header .desktop .mini-cart {
        background: transparent;
    }

    .form-search {
        display: inline-block;
        float: right;
    }

    .form-search input {
        width: auto;
    }

    .page-header .desktop .form-search input {
        border: 0;
        border-bottom: 1px solid rgba(63,63,63,0.4);
        color: #737373;
    }

    .page-header .desktop .page-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .page-header .desktop .block-cart {
        padding: 15px 20px;
        padding-right: 0;
    }

    .page-footer .page-container-wrapper:first-child .page-container {
        padding: 0;
        max-width: 1920px;
    }

    .links-after li>a,
    .links-before li>a,
    .nav--primary a.level0,
    .nav--primary-button {
        padding: 25px 15px;
        letter-spacing: 2px;
    }

    .nav--primary ul>li {
        background-color: #F9F9F9;
    }

    .nav--primary .submenu {
        background-color: rgba(249,249,249,1);
    }

    .nav--primary li.level0.parent:hover>a:after {
        border-bottom: 10px solid rgba(249,249,249,0.95);
    }


    .page-header {
        padding-bottom: 30px;
        border-bottom: 1px solid #ededed;
    }

    .cms-home .page-header {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

@media screen and (max-width: 995px){

    .about-wrapper li {
        width: 100%;
        display: block;
        float: none;
    }
}

@media screen and (max-width: 769px) {

    .category li {
        width: 50%;
    }

    .category li .text-box p {
        font-size: 20px;
    }

    .over-banner strong {
        font-size: 25px;
    }

    .over-banner span {
        font-size: 16px;
    }

    .about-wrapper li .text-wrapper {
        width: 100%;
        padding: 150px 5%;
        position: static;
        margin-top: 0;
    }

    .about-wrapper li img {
        display: none;
    }

    .about-wrapper li:first-child {
        text-align: left;
        display: block;
        background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/about.jpg) no-repeat right;
        background-size: cover;
    }

    .about-wrapper li:last-child {
        display: block;
        background: url(http://produseprobiotice.blugento.ro/media/wysiwyg/about1.jpg) no-repeat left;
        background-size: cover;
    }

    .page-footer .marketing-box--newsletter {
        float: none;
        width: 100%;
    }

    .page-footer .marketing-box--shipping,
    .page-footer .marketing-box--support {
        float: left;
        width: 50%;
    }

    .page-footer {
        text-align: center;
    }

    .page-footer .page-container .row > div {
        float: none;
        text-align: center;
        width: 100%;
    }

    .page-footer .page-container .col-4 {
        width: 100%;
        margin-left: 0;
    }

    .page-footer .marketing-box {
        padding: 100px 15px;
    }
}

@media screen and (max-width: 640px) {

    .category li {
        width: 100%;
        display: block;
        float: none;
    }

    .category li .text-box p {
        min-height: auto;
    }

    .tablet-logo:after {
        top: 110%;
        transform: none;
        left: 0;
        right: 0;
        width: 200%;
        text-align: left;
    }
}

@media screen and (max-width: 481px){

    .over-banner-right {
        bottom: 10%;
    }

    .over-banner span {
        display: none;
    }

    .about-wrapper li .text-wrapper {
        padding: 75px 5%;
    }

    .page-footer .marketing-box--shipping,
    .page-footer .marketing-box--support {
        float: none;
        width: 100%;
    }

    .page-footer .footer-links ul {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }
}
.cms-page-view .std ul li {
    margin-left: 20px;
    list-style-type: circle;
}

/*Page design de-ce-probiotice************************************************/


.row .col-4 {
    width: 33%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-left: 2px;
}
.col-4 p{
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
}

.btn_pdf{
    position: relative;
    background-color: #71c0c9;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 6px 100px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
}


.links a {
    text-align:center;
    display: block;
    text-decoration: none;
    margin: 3%;
    font-size: 20px;
    color: #71c0c9;
}

.links {
    display: none;
    text-decoration: none;
}

.cms-page-view .std a {
    text-decoration: none;
}

.cms-page-view .std a:hover {
    color: #46B954;
}

#manuale {
    max-width: 1200px;
}

.manual-list {
    display:block;
    margin: 0 auto;
}

#manuale li {
    float: left;
    padding: 0px 35px;
    list-style-type: none;
    margin-left: 0;
}

.category-description > br {
    display: none;
}

