@charset "UTF-8";
/*
  ========================================
  Style
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Reset CSS
  ========================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: ''; }

q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus,
textarea:focus {
  outline: none; }

/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Grid and Container
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.col-12 {
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px; }

.col-11 {
  width: 91.66%; }

.col-10 {
  width: 83.33%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66%; }

.col-7 {
  width: 58.33%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66%; }

.col-4 {
  width: 33.33%; }
  @media (max-width: 768px) {
    .col-4 {
      width: 50%; }
      .col-4:last-child {
        float: none;
        clear: both;
        margin: 0 auto; } }
  @media (max-width: 480px) {
    .col-4 {
      width: 100%;
      padding-bottom: 20px; } }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.6667%; }

.col-1 {
  width: 8.33%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  box-sizing: border-box; }

.container {
  max-width: 930px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*
  ========================================
  PopUp Section
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.popup-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 110px 0;
  z-index: 4;
  display: none;
  background: rgba(59, 67, 76, 0.7); }
  @media (max-width: 1024px) {
    .popup-section {
      padding: 50px 0; } }
  @media (max-width: 768px) {
    .popup-section {
      padding: 25px 0; } }
  .popup-section .popup-item {
    z-index: 0;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    background: #fff;
    padding: 30px 0;
    position: relative; }
    @media (max-width: 1024px) {
      .popup-section .popup-item {
        width: 70%; } }
    @media (max-width: 768px) {
      .popup-section .popup-item {
        width: 90%;
        padding: 10px; } }
    .popup-section .popup-item button {
      position: absolute;
      right: -10px;
      top: -15px;
      z-index: 1;
      background: #3b434c;
      border: 0;
      cursor: pointer;
      outline: 0;
      font-size: 25px;
      color: #fff;
      border-radius: 50%; }
    .popup-section .popup-item .popup-title {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 45px; }
      @media (max-width: 768px) {
        .popup-section .popup-item .popup-title {
          padding: 10px; } }
      .popup-section .popup-item .popup-title h2 {
        font-size: 34px;
        text-transform: uppercase;
        padding-bottom: 18px;
        color: #85939f; }
        @media (max-width: 768px) {
          .popup-section .popup-item .popup-title h2 {
            font-size: 20px; } }
      .popup-section .popup-item .popup-title span {
        font-weight: 900;
        color: #02baab; }
      .popup-section .popup-item .popup-title p {
        line-height: 1.9em;
        color: #85939f; }
        @media (max-width: 768px) {
          .popup-section .popup-item .popup-title p {
            line-height: 1em;
            font-size: 14px; } }
    .popup-section .popup-item .popup-wrapper {
      width: 80%;
      margin: 0 auto;
      font-family: "Oxygen", sans-serif; }
      .popup-section .popup-item .popup-wrapper:after {
        content: "";
        display: table;
        clear: both; }
      .popup-section .popup-item .popup-wrapper .popup-register {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        border-radius: 13px;
        color: #85939f;
        text-align: left;
        padding: 15px;
        box-sizing: border-box; }
      .popup-section .popup-item .popup-wrapper .popup-subject {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        border-radius: 13px;
        color: #85939f;
        text-align: left;
        padding: 15px;
        box-sizing: border-box; }
      .popup-section .popup-item .popup-wrapper .popup-message {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 18px;
        border-radius: 13px;
        font-weight: 500;
        color: #85939f;
        height: 120px;
        text-align: left;
        padding: 15px;
        box-sizing: border-box;
        max-width: 100%;
        max-height: 200px; }
      .popup-section .popup-item .popup-wrapper .popup-button {
        display: inline-block;
        float: left;
        width: 100%;
        background: #02baab;
        border: 1px solid #02baab;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        height: 47px;
        border-radius: 13px;
        text-transform: uppercase;
        cursor: pointer; }

/*
  ========================================
  PopUp Section
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.second-popup-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 110px 0;
  z-index: 4;
  display: none;
  background: rgba(59, 67, 76, 0.7); }
  @media (max-width: 1024px) {
    .second-popup-section {
      padding: 50px 0; } }
  @media (max-width: 768px) {
    .second-popup-section {
      padding: 25px 0; } }
  .second-popup-section .popup-item {
    z-index: 0;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    background: #fff;
    padding: 30px 0;
    position: relative; }
    @media (max-width: 1024px) {
      .second-popup-section .popup-item {
        width: 70%; } }
    @media (max-width: 768px) {
      .second-popup-section .popup-item {
        width: 90%;
        padding: 10px; } }
    .second-popup-section .popup-item button {
      position: absolute;
      right: -10px;
      top: -15px;
      z-index: 1;
      background: #3b434c;
      border: 0;
      cursor: pointer;
      outline: 0;
      font-size: 25px;
      color: #fff;
      border-radius: 50%; }
    .second-popup-section .popup-item .popup-title {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 45px; }
      @media (max-width: 768px) {
        .second-popup-section .popup-item .popup-title {
          padding: 10px; } }
      .second-popup-section .popup-item .popup-title h2 {
        font-size: 34px;
        text-transform: uppercase;
        padding-bottom: 18px;
        color: #85939f; }
        @media (max-width: 768px) {
          .second-popup-section .popup-item .popup-title h2 {
            font-size: 20px; } }
      .second-popup-section .popup-item .popup-title span {
        font-weight: 900;
        color: #02baab; }
      .second-popup-section .popup-item .popup-title p {
        line-height: 1.9em;
        color: #85939f; }
        @media (max-width: 768px) {
          .second-popup-section .popup-item .popup-title p {
            line-height: 1em;
            font-size: 14px; } }
    .second-popup-section .popup-item .popup-wrapper {
      width: 80%;
      margin: 0 auto;
      font-family: "Oxygen", sans-serif; }
      .second-popup-section .popup-item .popup-wrapper:after {
        content: "";
        display: table;
        clear: both; }
      .second-popup-section .popup-item .popup-wrapper .popup-register {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        border-radius: 13px;
        color: #85939f;
        text-align: left;
        padding: 15px;
        box-sizing: border-box; }
      .second-popup-section .popup-item .popup-wrapper .popup-subject {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        border-radius: 13px;
        color: #85939f;
        text-align: left;
        padding: 15px;
        box-sizing: border-box; }
      .second-popup-section .popup-item .popup-wrapper .popup-password {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 18px;
        border-radius: 13px;
        font-weight: 500;
        color: #85939f;
        text-align: left;
        padding: 15px;
        box-sizing: border-box; }
      .second-popup-section .popup-item .popup-wrapper .popup-button {
        display: inline-block;
        float: left;
        width: 100%;
        background: #02baab;
        border: 1px solid #02baab;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        height: 47px;
        border-radius: 13px;
        text-transform: uppercase;
        cursor: pointer; }

/*
  ========================================
  Scroll to Top
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  z-index: 2;
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  background: rgba(2, 186, 171, 0.8);
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-out; }
  .scrollToTop:hover {
    background: rgba(78, 78, 78, 0.8); }

/*
  ========================================
  Pre-Header
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.pre-header {
  height: 48px;
  transition: all .4s ease-in-out;
  z-index: 4;
  background: #000; }
  .pre-header:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .pre-header {
      display: none; } }
  .pre-header .social-box {
    float: left;
    padding-top: 5px;
    position: relative; }
    .pre-header .social-box:after {
      content: "";
      display: table;
      clear: both; }
    .pre-header .social-box li {
      float: left;
      display: inline-block;
      padding: 0 10px; }
      .pre-header .social-box li a {
        display: block;
        font-size: 35px;
        color: #02baab; }

.log-wrapper {
  float: right;
  padding-top: 15px; }
  .log-wrapper ul:after {
    content: "";
    display: table;
    clear: both; }
  .log-wrapper ul li {
    float: left;
    padding-left: 20px; }
    .log-wrapper ul li a {
      display: block;
      cursor: pointer;
      font-size: 15px;
      color: #85939f; }
      .log-wrapper ul li a:hover {
        color: #02baab; }
    .log-wrapper ul li p {
      display: inline-block;
      padding-left: 5px;
      font-weight: 900; }

/*
  ========================================
  Header
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
body {
  font-family: "Oxygen", sans-serif; }

.trigger {
  overflow: hidden; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 15px;
  transition: all .4s ease-in-out;
  z-index: 3;
  background: rgba(71, 71, 71, 0.8); }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .header {
      padding-top: 0; } }

.stickyheader {
  position: fixed;
  top: 20px;
  font-size: 12px;
  transform: translateY(-20px);
  background: rgba(71, 71, 71, 0.8); }

.brand {
  float: left; }
  .brand a {
    display: block; }
    .brand a img {
      display: block;
      width: 100%; }

.navbar {
  float: right; }

.list-nav:after {
  content: "";
  display: table;
  clear: both; }
.list-nav li {
  float: left;
  border-top: 5px solid transparent; }
  .list-nav li:hover {
    border-top: 5px solid #02baab; }
  .list-nav li a {
    display: block;
    padding: 25px 15px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 1024px) {
      .list-nav li a {
        padding: 25px 7px 0; } }
@media (max-width: 768px) {
  .list-nav {
    display: none; } }

.navbar button {
  position: relative;
  z-index: 1;
  background: transparent;
  border: 0;
  padding: 25px 0 0 0;
  cursor: pointer;
  outline: 0;
  display: none; }
  @media (max-width: 768px) {
    .navbar button {
      display: block; } }
  .navbar button span {
    height: 2px;
    background: #fff;
    width: 28px;
    display: block;
    margin-bottom: 6px;
    -webkit-transition: all .3s;
    transition: all .3s; }

.button-animation .diagonal.part-1 {
  transform: rotate(135deg);
  margin-top: 15px; }
.button-animation .diagonal.part-2 {
  transform: rotate(-135deg);
  margin-top: -15px; }
.button-animation .horizontal {
  opacity: 0; }

.second-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  display: none;
  text-align: center;
  list-style-type: none; }
  .second-navbar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(71, 71, 71, 0.9);
    z-index: -1; }

.second-navbar-wrapper li {
  padding-bottom: 15px; }
  .second-navbar-wrapper li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer; }
    .second-navbar-wrapper li a:hover {
      color: #02baab; }

.social-buttons-navbar {
  padding: 20px 0; }
  .social-buttons-navbar li {
    display: inline-block;
    padding: 0 10px; }
  .social-buttons-navbar a {
    display: block;
    font-size: 35px;
    color: #02baab; }

/*
  ========================================
  Slider
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.slider-image {
  position: relative; }
  .slider-image img {
    width: 100%; }
  .slider-image:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }

.slider-text {
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  text-align: center;
  z-index: 2; }
  @media (max-width: 1024px) {
    .slider-text {
      top: 30%; } }
  @media (max-width: 768px) {
    .slider-text {
      position: relative;
      left: auto;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      padding: 20px 0; } }
  .slider-text h2 {
    font-size: 60px;
    color: #02baab;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 3%;
    text-shadow: 1px 1px #000; }
    @media (max-width: 1024px) {
      .slider-text h2 {
        font-size: 30px; } }
  .slider-text span {
    display: block;
    font-size: 60px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px #000;
    padding-bottom: 20%; }
    @media (max-width: 1024px) {
      .slider-text span {
        font-size: 30px;
        padding-bottom: 5%; } }

.first-slider-button {
  position: relative;
  margin-right: 15px;
  display: inline-block;
  border: 2px solid #fff;
  padding: 15px;
  width: 180px;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  transition: all 0.3s ease-in-out; }
  .first-slider-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1; }
  .first-slider-button:hover {
    background-color: #02baab;
    border: 2px solid #02baab;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out; }
    .first-slider-button:hover:before {
      opacity: 0;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      z-index: -1; }
  @media (max-width: 940px) and (min-width: 769px) {
    .first-slider-button {
      margin-right: 0;
      margin-bottom: 10px; } }
  @media (max-width: 768px) {
    .first-slider-button {
      margin-right: 0;
      margin-bottom: 10px; } }
  .first-slider-button a {
    display: block;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    outline: none; }

.second-slider-button {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  border: 2px solid #fff;
  padding: 15px;
  width: 180px;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  transition: all 0.3s ease-in-out; }
  .second-slider-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1; }
  .second-slider-button:hover {
    background-color: #02baab;
    border: 2px solid #02baab;
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease-in-out; }
    .second-slider-button:hover:before {
      opacity: 0;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      z-index: -1; }
  @media (max-width: 768px) {
    .second-slider-button {
      margin-left: 0; } }
  @media (max-width: 940px) and (min-width: 769px) {
    .second-slider-button {
      margin: 0; } }
  .second-slider-button a {
    display: block;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    text-decoration: none;
    z-index: 1;
    text-transform: uppercase;
    outline: none; }

.main-slider .slick-dots {
  bottom: 30px !important; }
  @media (max-width: 768px) {
    .main-slider .slick-dots {
      bottom: 225px !important; } }
  .main-slider .slick-dots li {
    margin-right: 10px; }
    .main-slider .slick-dots li button:before {
      content: "";
      border: 0;
      background: #fff;
      display: block;
      height: 2px;
      width: 20px;
      outline: none;
      font-size: 0;
      color: transparent;
      padding: 3px;
      cursor: pointer; }
  .main-slider .slick-dots .slick-active button:before {
    background: #02baab; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

/*
  ========================================
  Features
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.features {
  padding: 70px 0; }
  @media (max-width: 1024px) {
    .features {
      padding: 15px 0; } }
  .features .title {
    position: relative;
    padding-bottom: 55px; }
    .features .title strong {
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      font-family: "Oxygen", sans-serif;
      font-weight: 400; }
      .features .title strong:after {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        content: "";
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 7px;
        background: #eee; }
        @media (max-width: 768px) {
          .features .title strong:after {
            top: 50px; } }
      @media (max-width: 1024px) {
        .features .title strong {
          padding-bottom: 15px; } }
  .features ul:after {
    content: "";
    display: table;
    clear: both; }
  .features ul li {
    float: left;
    display: inline-block;
    width: 50%;
    padding: 20px 0; }
    @media (max-width: 480px) {
      .features ul li {
        width: 100%; } }

.feature-wrapper:after {
  content: "";
  display: table;
  clear: both; }
.feature-wrapper .feature-row {
  float: left;
  width: 20%;
  text-align: center; }
  @media (max-width: 1024px) {
    .feature-wrapper .feature-row {
      width: 25%; } }
  .feature-wrapper .feature-row a {
    display: block;
    font-size: 45px;
    color: #02baab; }
.feature-wrapper .feature-description {
  float: left;
  width: 80%; }
  @media (max-width: 1024px) {
    .feature-wrapper .feature-description {
      width: 75%; } }
  .feature-wrapper .feature-description span {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    padding-bottom: 16px;
    min-height: 50px;
    font-family: "Oxygen", sans-serif; }
  .feature-wrapper .feature-description p {
    text-align: left;
    font-size: 15px;
    line-height: 1.3em;
    font-family: "Oxygen", sans-serif; }

/*
  ========================================
  Pre-Header
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.pre-header {
  height: 48px;
  transition: all .4s ease-in-out;
  z-index: 4;
  background: #000; }
  .pre-header:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .pre-header {
      display: none; } }
  .pre-header .social-box {
    float: left;
    padding-top: 5px;
    position: relative; }
    .pre-header .social-box:after {
      content: "";
      display: table;
      clear: both; }
    .pre-header .social-box li {
      float: left;
      display: inline-block;
      padding: 0 10px; }
      .pre-header .social-box li a {
        display: block;
        font-size: 35px;
        color: #02baab; }

.log-wrapper {
  float: right;
  padding-top: 15px; }
  .log-wrapper ul:after {
    content: "";
    display: table;
    clear: both; }
  .log-wrapper ul li {
    float: left;
    padding-left: 20px; }
    .log-wrapper ul li a {
      display: block;
      cursor: pointer;
      font-size: 15px;
      color: #85939f; }
      .log-wrapper ul li a:hover {
        color: #02baab; }
    .log-wrapper ul li p {
      display: inline-block;
      padding-left: 5px;
      font-weight: 900; }

/*
  ========================================
  Header
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
body {
  font-family: "Oxygen", sans-serif; }

.trigger {
  overflow: hidden; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 15px;
  transition: all .4s ease-in-out;
  z-index: 3;
  background: rgba(71, 71, 71, 0.8); }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .header {
      padding-top: 0; } }

.stickyheader {
  position: fixed;
  top: 20px;
  font-size: 12px;
  transform: translateY(-20px);
  background: rgba(71, 71, 71, 0.8); }

.brand {
  float: left; }
  .brand a {
    display: block; }
    .brand a img {
      display: block;
      width: 100%; }

.navbar {
  float: right; }

.list-nav:after {
  content: "";
  display: table;
  clear: both; }
.list-nav li {
  float: left;
  border-top: 5px solid transparent; }
  .list-nav li:hover {
    border-top: 5px solid #02baab; }
  .list-nav li a {
    display: block;
    padding: 25px 15px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 1024px) {
      .list-nav li a {
        padding: 25px 7px 0; } }
@media (max-width: 768px) {
  .list-nav {
    display: none; } }

.navbar button {
  position: relative;
  z-index: 1;
  background: transparent;
  border: 0;
  padding: 25px 0 0 0;
  cursor: pointer;
  outline: 0;
  display: none; }
  @media (max-width: 768px) {
    .navbar button {
      display: block; } }
  .navbar button span {
    height: 2px;
    background: #fff;
    width: 28px;
    display: block;
    margin-bottom: 6px;
    -webkit-transition: all .3s;
    transition: all .3s; }

.button-animation .diagonal.part-1 {
  transform: rotate(135deg);
  margin-top: 15px; }
.button-animation .diagonal.part-2 {
  transform: rotate(-135deg);
  margin-top: -15px; }
.button-animation .horizontal {
  opacity: 0; }

.second-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  display: none;
  text-align: center;
  list-style-type: none; }
  .second-navbar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(71, 71, 71, 0.9);
    z-index: -1; }

.second-navbar-wrapper li {
  padding-bottom: 15px; }
  .second-navbar-wrapper li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer; }
    .second-navbar-wrapper li a:hover {
      color: #02baab; }

.social-buttons-navbar {
  padding: 20px 0; }
  .social-buttons-navbar li {
    display: inline-block;
    padding: 0 10px; }
  .social-buttons-navbar a {
    display: block;
    font-size: 35px;
    color: #02baab; }

.social-buttons li {
  display: inline-block; }

.social-buttons {
  text-align: center;
  padding-bottom: 5%; }
  .social-buttons a {
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 9px;
    box-sizing: border-box;
    display: inline-block; }
  .social-buttons i {
    font-size: 23px;
    margin-left: 10px; }
  .social-buttons p {
    display: inline-block;
    margin-left: 4px; }
  .social-buttons ul {
    text-align: left; }

.social-buttons li:first-child a {
  background-color: #3b5998;
  padding-left: 5px; }

.social-buttons li:nth-child(2) a {
  background-color: #00aced; }

.social-buttons li:nth-child(3) a {
  background-color: #bb0000; }

.social-buttons li:nth-child(4) a {
  background-color: #9b6954; }

.social-buttons li:nth-child(5) a {
  background-color: #cb2027; }

footer {
  background-color: #1f2a32; }

.contact-details i {
  color: #02baab;
  font-size: 22px; }
.contact-details p {
  color: #6a7782;
  display: inline;
  margin-left: 3px; }
  .contact-details p span {
    color: #fff; }

footer p {
  color: #fff;
  line-height: 1.5em; }

.footer-wrapper {
  padding-top: 70px;
  font-size: 13px; }
  .footer-wrapper h6 {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 300;
    padding-bottom: 30px; }
  .footer-wrapper li {
    padding-bottom: 20px; }

.posts p {
  color: #02baab; }
.posts small {
  color: #fff;
  padding-bottom: 7px; }

.tweets span {
  color: #02baab; }
.tweets small {
  padding-top: 15px; }

.footer-secondary-section {
  float: left;
  margin-top: 50px;
  margin-bottom: 30px; }

.tweets i {
  color: #02baab;
  font-size: 23px; }
.tweets small {
  color: #6a7782;
  display: inherit; }
.tweets p {
  display: inline;
  padding-left: 5px; }
.tweets a {
  display: inherit;
  color: #02baab;
  padding-top: 4px;
  text-decoration: none; }

.posts p {
  padding-top: 15px; }

.footer-primary-section:after {
  content: "";
  display: table;
  clear: both; }

/*
  ========================================
  Testimonials
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.testimonial-slider .slick-dots {
  bottom: 70px !important; }
  @media (max-width: 1024px) {
    .testimonial-slider .slick-dots {
      bottom: 20px !important; } }
  .testimonial-slider .slick-dots li button:before {
    font-size: 15px;
    color: #02baab !important; }
  .testimonial-slider .slick-dots.slick-active button:before {
    color: #02baab !important; }

.testimonial-slider .sliderbackground {
  position: relative; }
  .testimonial-slider .sliderbackground:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }
  .testimonial-slider .sliderbackground img {
    width: 100%; }
  .testimonial-slider .sliderbackground .testimonial-description {
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 45%;
    text-align: center;
    z-index: 1; }
    @media (max-width: 1440px) {
      .testimonial-slider .sliderbackground .testimonial-description {
        width: 80%;
        top: 20px; } }
    @media (max-width: 768px) {
      .testimonial-slider .sliderbackground .testimonial-description {
        width: 97%;
        top: 5px; } }
    @media (max-width: 480px) {
      .testimonial-slider .sliderbackground .testimonial-description {
        position: static;
        padding: 10px; } }
    .testimonial-slider .sliderbackground .testimonial-description a {
      display: block;
      color: #02baab;
      font-size: 50px;
      margin-bottom: 50px; }
      @media (max-width: 1440px) {
        .testimonial-slider .sliderbackground .testimonial-description a {
          margin-bottom: 10px;
          font-size: 25px; } }
      @media (max-width: 768px) {
        .testimonial-slider .sliderbackground .testimonial-description a {
          display: none; } }
    .testimonial-slider .sliderbackground .testimonial-description p {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.5px;
      color: #fff;
      margin-bottom: 25px;
      text-shadow: 1px 1px #000; }
      @media (max-width: 1440px) {
        .testimonial-slider .sliderbackground .testimonial-description p {
          font-size: 17px;
          margin-bottom: 10px; } }
    .testimonial-slider .sliderbackground .testimonial-description span {
      color: #02baab;
      text-transform: uppercase;
      font-size: 14px; }
      .testimonial-slider .sliderbackground .testimonial-description span:before {
        position: absolute;
        width: 15px;
        height: 2px;
        background: #02baab;
        display: block;
        content: '';
        margin-top: 9px;
        left: 32%; }
        @media (max-width: 768px) {
          .testimonial-slider .sliderbackground .testimonial-description span:before {
            display: none; } }

/*
  ========================================
  Company Experience
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.company-experience {
  background: #02baab;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center; }
  @media (max-width: 1024px) {
    .company-experience {
      padding: 20px 0; } }
  .company-experience .title {
    position: relative;
    padding-bottom: 85px; }
    .company-experience .title strong {
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: center;
      font-size: 33px;
      color: #fff;
      font-family: "Oxygen", sans-serif;
      font-weight: 400; }
      .company-experience .title strong:after {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        content: "";
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 5px;
        background: #eee; }
        @media (max-width: 768px) {
          .company-experience .title strong:after {
            top: 50px; } }
      @media (max-width: 1024px) {
        .company-experience .title strong {
          padding-bottom: 15px; } }

.company-item {
  position: relative;
  margin: 0 auto 26px; }
  .company-item:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f141";
    position: absolute;
    top: 35%;
    font-size: 50px;
    color: #fff;
    right: -30px; }
    @media (max-width: 1024px) {
      .company-item:after {
        display: none; } }
  .company-item svg {
    height: 240px;
    width: 240px; }
    .company-item svg circle {
      stroke-width: 3px;
      fill: transparent; }
  .company-item.item-gear #grey {
    stroke: #fff;
    opacity: 0.2; }
  .company-item.item-gear #white {
    stroke: #fff;
    stroke-dasharray: 180, 63;
    stroke-dashoffset: -210; }
  .company-item.item-phone #grey {
    stroke: #fff;
    opacity: 0.2; }
  .company-item.item-phone #white {
    stroke: #fff;
    stroke-dasharray: 180, 113;
    stroke-dashoffset: -210; }
  .company-item.item-rocket:after {
    display: none; }
  .company-item.item-rocket #grey {
    stroke: #fff;
    opacity: 0.2; }
  .company-item.item-rocket #white {
    stroke: #fff;
    stroke-dasharray: 180, 30;
    stroke-dashoffset: -210; }
  .company-item .company-image {
    position: absolute;
    content: "";
    top: 25%;
    left: 0;
    right: 0;
    height: 115px;
    width: 115px;
    margin: 0 auto;
    background: #000;
    border: 0;
    border-radius: 50%; }
    .company-item .company-image a {
      display: block;
      color: #fff;
      font-size: 80px;
      padding-top: 15px; }

.company-description {
  width: 80%;
  margin: 0 auto; }
  .company-description span {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    padding-bottom: 10px; }
  .company-description p {
    color: #fff;
    font-size: 20px; }

/*
  ========================================
  Blog Section
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.blog-section {
  padding: 50px 0; }
  .blog-section img {
    display: block;
    width: 100%; }
  .blog-section .blog-section-title {
    position: relative; }
    .blog-section .blog-section-title h2 {
      font-family: "Oxygen", sans-serif;
      font-size: 34px;
      font-weight: 200;
      color: #3b4954;
      text-align: center;
      padding-bottom: 95px; }
    .blog-section .blog-section-title:after {
      position: absolute;
      content: '';
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      width: 50px;
      height: 5px;
      background-color: #eee; }
  .blog-section .blog-description {
    position: relative;
    padding-bottom: 30px; }
    @media (max-width: 768px) {
      .blog-section .blog-description {
        padding-bottom: 15px; } }
    .blog-section .blog-description:hover h4,
    .blog-section .blog-description:hover .blog-article-details li a {
      color: #6d0fae; }
    .blog-section .blog-description h4 {
      font-size: 20px;
      font-weight: 200;
      color: #02baab;
      padding: 30px 0;
      line-height: 22px; }
    .blog-section .blog-description p {
      font-size: 14px;
      line-height: 16px;
      color: #747474; }
    .blog-section .blog-description .blog-article-details {
      padding: 20px 0;
      border-bottom: 1px solid #c3c3c3; }
      .blog-section .blog-description .blog-article-details:after {
        content: "";
        display: table;
        clear: both; }
      .blog-section .blog-description .blog-article-details a {
        display: inline-block;
        font-size: 14px;
        color: #02baab;
        text-decoration: none; }
      .blog-section .blog-description .blog-article-details p {
        display: inline-block;
        font-size: 14px; }
      .blog-section .blog-description .blog-article-details li {
        float: left; }
        .blog-section .blog-description .blog-article-details li:last-child {
          float: right; }

/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.blog-masonry {
  position: relative; }
  .blog-masonry .blog-masonry-wrapper img {
    display: block;
    width: 100%; }
  .blog-masonry .secondary-wrapper {
    position: relative;
    top: -75px; }
  .blog-masonry .blog-masonry-title {
    float: left; }
    .blog-masonry .blog-masonry-title h2 {
      font-size: 30px;
      font-weight: 200;
      color: #ffffff; }
  .blog-masonry .masonry-navbar {
    float: right; }
    .blog-masonry .masonry-navbar .masonry-navbar-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .blog-masonry .masonry-navbar .masonry-navbar-wrapper li {
      float: left;
      position: relative; }
      .blog-masonry .masonry-navbar .masonry-navbar-wrapper li:after {
        content: "/";
        position: absolute;
        top: 13px;
        color: #fff;
        right: 0;
        bottom: 0;
        left: -4px;
        width: 15px;
        display: block; }
      .blog-masonry .masonry-navbar .masonry-navbar-wrapper li:first-child:after {
        display: none; }
      .blog-masonry .masonry-navbar .masonry-navbar-wrapper li a {
        display: block;
        padding: 15px 10px 0;
        color: #ffffff;
        font-size: 12px;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 300; }
@font-face {
  .blog-masonry {
    font-family: 'Calluna';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff") format("woff"); } }
  .blog-masonry body {
    background: url(//subtlepatterns.com/patterns/scribble_light.png);
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px; }
  .blog-masonry #columns {
    column-width: 290px;
    column-gap: 15px;
    width: 100%;
    max-width: 930px;
    margin: 0 auto; }
  .blog-masonry figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */ }
  .blog-masonry div#columns figure img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
    z-index: 0; }
  .blog-masonry div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5; }
  .blog-masonry div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa; }
  .blog-masonry div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color; }
  @media screen and (max-width: 750px) {
    .blog-masonry #columns {
      column-gap: 0px; }
    .blog-masonry #columns figure {
      width: 100%; } }
  .blog-masonry .image-wrapper {
    position: relative; }
    .blog-masonry .image-wrapper:hover .chain-link {
      display: block; }
    .blog-masonry .image-wrapper .chain-link {
      content: ' ';
      position: absolute;
      left: 40%;
      right: 0;
      top: 40%;
      bottom: 0;
      display: none;
      font-size: 30px;
      color: #ffffff;
      text-decoration: none;
      z-index: 999; }
      .blog-masonry .image-wrapper .chain-link a {
        background-color: #FFFF00;
        padding: 5px 10px;
        border-radius: 50%; }
  .blog-masonry .image-wrapper:hover:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 22px;
    background-color: rgba(0, 0, 0, 0.8); }
  .blog-masonry #columns h4 {
    font-size: 18px;
    font-weight: 200;
    color: #02baab;
    line-height: 24px;
    padding: 30px 0; }
    .blog-masonry #columns h4:hover {
      color: #6d0fae; }
  .blog-masonry #columns p {
    font-size: 14px;
    padding-bottom: 10px; }
  .blog-masonry #columns .blog-article-details {
    padding: 10px 0;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3; }
    .blog-masonry #columns .blog-article-details:after {
      content: "";
      display: table;
      clear: both; }
    .blog-masonry #columns .blog-article-details a {
      font-size: 12px;
      color: #747474;
      text-decoration: none;
      background-color: #eeeeee;
      padding: 3px 6px;
      border-radius: 50%; }
      .blog-masonry #columns .blog-article-details a:after {
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #eeeeee; }
    .blog-masonry #columns .blog-article-details p {
      display: inline-block;
      font-size: 10px;
      margin-left: 5px; }
    .blog-masonry #columns .blog-article-details li {
      float: left; }
      .blog-masonry #columns .blog-article-details li:last-child {
        float: right; }
  .blog-masonry #columns .show-more-toggle {
    display: none; }
  .blog-masonry .show-more-posts {
    padding-bottom: 50px;
    cursor: pointer; }
    .blog-masonry .show-more-posts p {
      font-size: 18px;
      font-weight: 700;
      color: #02baab;
      text-align: center; }
    .blog-masonry .show-more-posts a {
      display: block;
      margin-top: 5px;
      text-align: center;
      font-size: 24px;
      color: #02baab; }

/*
  ========================================
  Blog Grid Section
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.blog-title {
  display: none;
  padding-top: 20px; }
  @media (max-width: 768px) {
    .blog-title {
      display: block; } }
  .blog-title h2 {
    position: relative;
    font-family: "Oxygen", sans-serif;
    font-size: 34px;
    font-weight: 200;
    color: #3b4954;
    text-align: center;
    padding-bottom: 30px; }
    .blog-title h2:after {
      position: absolute;
      content: '';
      top: 60px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      width: 50px;
      height: 5px;
      background-color: #eee; }

.blog-grid-wrapper {
  position: relative; }
  .blog-grid-wrapper img {
    display: block;
    width: 100%; }
  .blog-grid-wrapper:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5); }

.grid-secondary-wrapper {
  position: relative;
  top: -150px; }
  @media (max-width: 1440px) {
    .grid-secondary-wrapper {
      top: -105px; } }
  @media (max-width: 1024px) {
    .grid-secondary-wrapper {
      top: -75px; } }
  @media (max-width: 768px) {
    .grid-secondary-wrapper {
      display: none; } }
  .grid-secondary-wrapper .blog-grid-title {
    float: left; }
    .grid-secondary-wrapper .blog-grid-title h2 {
      font-size: 30px;
      font-weight: 200;
      color: #fff;
      padding-bottom: 47px; }
      @media (max-width: 1024px) {
        .grid-secondary-wrapper .blog-grid-title h2 {
          padding-bottom: 15px; } }
    .grid-secondary-wrapper .blog-grid-title ul:after {
      content: "";
      display: table;
      clear: both; }
    .grid-secondary-wrapper .blog-grid-title ul li {
      float: left;
      padding-right: 20px; }
      .grid-secondary-wrapper .blog-grid-title ul li .blog-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 0;
        border-radius: 50%;
        background: #3b4954; }
        .grid-secondary-wrapper .blog-grid-title ul li .blog-icon a {
          position: relative;
          top: 4px;
          display: block;
          font-size: 15px;
          color: #fff;
          text-align: center; }
      .grid-secondary-wrapper .blog-grid-title ul li p {
        position: relative;
        top: 3px;
        display: inline-block;
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        padding-left: 5px; }
  .grid-secondary-wrapper .blog-grid-navbar {
    float: right;
    margin-top: 80px; }
    @media (max-width: 1024px) {
      .grid-secondary-wrapper .blog-grid-navbar {
        margin-top: 48px; } }
    .grid-secondary-wrapper .blog-grid-navbar .grid-navbar-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .grid-secondary-wrapper .blog-grid-navbar .grid-navbar-wrapper li {
      float: left;
      position: relative; }
      .grid-secondary-wrapper .blog-grid-navbar .grid-navbar-wrapper li:after {
        content: "/";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -3px;
        color: #fff; }
      .grid-secondary-wrapper .blog-grid-navbar .grid-navbar-wrapper li:first-child:after {
        display: none; }
      .grid-secondary-wrapper .blog-grid-navbar .grid-navbar-wrapper li a {
        display: block;
        padding: 3px 10px;
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 300; }

.blog-pagination {
  text-align: center; }
  .blog-pagination .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0; }
    .blog-pagination .pagination:after {
      content: "";
      display: table;
      clear: both; }
    .blog-pagination .pagination li {
      display: inline-block;
      float: left; }
      .blog-pagination .pagination li a {
        position: relative;
        padding: 6px 20px;
        color: #02baab;
        border: none;
        text-decoration: none;
        background-color: #fff; }
        .blog-pagination .pagination li a:hover {
          color: #6d0fae;
          background-color: #eee; }

/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Responsive
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
/*
  ========================================
  Clearfix
  ========================================
*/
/*
  ========================================
  Variables
  ========================================
*/
.blog-section {
  padding: 50px 0; }
  .blog-section img {
    display: block;
    width: 100%; }
  .blog-section .blog-section-title {
    position: relative; }
    .blog-section .blog-section-title h2 {
      font-family: "Oxygen", sans-serif;
      font-size: 34px;
      font-weight: 200;
      color: #3b4954;
      text-align: center;
      padding-bottom: 95px; }
    .blog-section .blog-section-title:after {
      position: absolute;
      content: '';
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      width: 50px;
      height: 5px;
      background-color: #eee; }
  .blog-section .blog-description {
    position: relative;
    padding-bottom: 30px; }
    @media (max-width: 768px) {
      .blog-section .blog-description {
        padding-bottom: 15px; } }
    .blog-section .blog-description:hover h4,
    .blog-section .blog-description:hover .blog-article-details li a {
      color: #6d0fae; }
    .blog-section .blog-description h4 {
      font-size: 20px;
      font-weight: 200;
      color: #02baab;
      padding: 30px 0;
      line-height: 22px; }
    .blog-section .blog-description p {
      font-size: 14px;
      line-height: 16px;
      color: #747474; }
    .blog-section .blog-description .blog-article-details {
      padding: 20px 0;
      border-bottom: 1px solid #c3c3c3; }
      .blog-section .blog-description .blog-article-details:after {
        content: "";
        display: table;
        clear: both; }
      .blog-section .blog-description .blog-article-details a {
        display: inline-block;
        font-size: 14px;
        color: #02baab;
        text-decoration: none; }
      .blog-section .blog-description .blog-article-details p {
        display: inline-block;
        font-size: 14px; }
      .blog-section .blog-description .blog-article-details li {
        float: left; }
        .blog-section .blog-description .blog-article-details li:last-child {
          float: right; }

.slider-photo img {
  width: 100%;
  margin-bottom: 120px; }

.work-description {
  line-height: 1.8em; }
  .work-description p {
    display: inline-block; }
  .work-description i {
    color: #ffae00; }

.portofolio-description {
  line-height: 1.2em; }
  .portofolio-description small {
    display: inline-block; }
  .portofolio-description span {
    display: block;
    color: #ffae00;
    padding-top: 20px;
    padding-bottom: 20px; }
  .portofolio-description p {
    padding-bottom: 15px;
    line-height: 1.5em; }
  .portofolio-description strong {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px; }
  .portofolio-description a {
    text-decoration: none;
    color: #ffae00;
    font-weight: 800;
    border: 3px solid #ffae00;
    padding: 10px 25px;
    margin-top: 30px;
    display: inline-block;
    text-align: center; }

.portofolio-wrapper {
  color: #3b4954; }

.social-buttons li {
  display: inline-block; }

.social-buttons {
  text-align: center;
  padding-bottom: 5%; }
  .social-buttons a {
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 9px;
    box-sizing: border-box;
    display: inline-block; }
  .social-buttons i {
    font-size: 23px;
    margin-left: 10px; }
  .social-buttons p {
    display: inline-block;
    margin-left: 4px; }
  .social-buttons ul {
    text-align: left; }

.social-buttons li:first-child a {
  background-color: #3b5998;
  padding-left: 5px; }

.social-buttons li:nth-child(2) a {
  background-color: #00aced; }

.social-buttons li:nth-child(3) a {
  background-color: #bb0000; }

.social-buttons li:nth-child(4) a {
  background-color: #9b6954; }

.social-buttons li:nth-child(5) a {
  background-color: #cb2027; }

footer {
  background-color: #1f2a32; }

.contact-details i {
  color: #02baab;
  font-size: 22px; }
.contact-details p {
  color: #6a7782;
  display: inline;
  margin-left: 3px; }
  .contact-details p span {
    color: #fff; }

footer p {
  color: #fff;
  line-height: 1.5em; }

.footer-wrapper {
  padding-top: 70px;
  font-size: 13px; }
  .footer-wrapper h6 {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 300;
    padding-bottom: 30px; }
  .footer-wrapper li {
    padding-bottom: 20px; }

.posts p {
  color: #02baab; }
.posts small {
  color: #fff;
  padding-bottom: 7px; }

.tweets span {
  color: #02baab; }
.tweets small {
  padding-top: 15px; }

.footer-secondary-section {
  float: left;
  margin-top: 50px;
  margin-bottom: 30px; }

.tweets i {
  color: #02baab;
  font-size: 23px; }
.tweets small {
  color: #6a7782;
  display: inherit; }
.tweets p {
  display: inline;
  padding-left: 5px; }
.tweets a {
  display: inherit;
  color: #02baab;
  padding-top: 4px;
  text-decoration: none; }

.posts p {
  padding-top: 15px; }

.footer-primary-section:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=style.css.map */
