.social-buttons li {
  display: inline-block;
}
.social-buttons {
  text-align:center;
  padding-bottom: 5%;
  a {
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 9px;
    box-sizing: border-box;
    display: inline-block;
    //margin-right: 5%;
  }
  i {
    font-size: 23px;
    margin-left: 10px;
  }
  p {
    display: inline-block;
    margin-left: 4px;
  }
  ul {
    text-align: left;
  }
}
.social-buttons li:first-child a {
  background-color: #3b5998;
  padding-left:5px;
}
.social-buttons li:nth-child(2) a {
  background-color: #00aced;
}
.social-buttons li:nth-child(3) a {
  background-color: #bb0000;
}
.social-buttons li:nth-child(4) a {
  background-color: #9b6954;
}
.social-buttons li:nth-child(5) a {
  background-color: #cb2027;
}

footer {
  background-color: #1f2a32;
}
.contact-details {
  i {
    color: #02baab;
    font-size: 22px;
  }
  p {
    color :#6a7782;
    display: inline;
    margin-left: 3px;
    span {
      color: #fff;
    }
  }
}
footer {
  p {
    color:#fff;
    line-height:1.5em;
  }
}
.footer-wrapper {
  padding-top: 70px;
  font-size : 13px;
  h6 {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 300;
    padding-bottom: 30px;
  }
  li {
    padding-bottom: 20px;
  }
}
.posts {
  p {
    color: #02baab;
  }
  small {
    color: #fff;
    padding-bottom: 7px;
  }
}
.tweets {
  span {
    color : #02baab;
  }
  small {
    padding-top: 15px;
  }
}
.footer-secondary-section {
  float: left;
  margin-top:50px;
  margin-bottom:30px;
}
.tweets {
  i{
    color: #02baab;
    font-size:23px;
  }
  small {
    color: #6a7782;
    display: inherit;
  }
  p {
    display: inline;
    padding-left:5px;
  }
  a {
    display: inherit;
    color: #02baab;
    padding-top: 4px;
    text-decoration: none;
  }
}
.posts {
  p {
    padding-top: 15px;
  }
}
.footer-primary-section {
  @include clearfix;
}