/*
  ========================================
  Header
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

body {
  font-family: $primary-font;
}

.trigger {
  overflow: hidden;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 15px;
  transition: all .4s ease-in-out;
  @include clearfix;
  z-index: 3;
  background: rgba(71, 71, 71, 0.8);
  @include tablet {
    padding-top: 0;
  }
}

.stickyheader {
  position: fixed;
  top: 20px;
  font-size: 12px;
  transform: translateY(-20px);
  background: rgba(71, 71, 71, 0.8);
}

.brand {
  float: left;
  a {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
}

.navbar {
  float: right;
}

.list-nav {
  @include clearfix;
  li {
    float: left;
    border-top: 5px solid transparent;
    &:hover {
      border-top: 5px solid $secondary-color;
    }
    a {
      display: block;
      padding: 25px 15px 0;
      color: $primary-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      @include tablet-lg {
        padding: 25px 7px 0;
      }
    }
  }
  @include tablet {
    display: none;
  }
}

.navbar button {
  position: relative;
  z-index: 1;
  background: transparent;
  border: 0;
  padding: 25px 0 0 0;
  cursor: pointer;
  outline: 0;
  display: none;
  @include tablet {
    display: block;
  }
  span {
    height: 2px;
    background: $primary-color;
    width: 28px;
    display: block;
    margin-bottom: 6px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

.button-animation {
  .diagonal {
    &.part-1 {
      transform: rotate(135deg);
      margin-top: 15px;
    }
    &.part-2 {
      transform: rotate(-135deg);
      margin-top: -15px;
    }
  }
  .horizontal {
    opacity: 0;
  }
}

.second-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  display: none;
  text-align: center;
  list-style-type: none;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(71, 71, 71, 0.9);
    z-index: -1;
  }
}

.second-navbar-wrapper li {
  padding-bottom: 15px;
  a {
    display: block;
    text-decoration: none;
    color: $primary-color;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }
  }
}

.social-buttons-navbar {
  padding: 20px 0;
  li {
    display: inline-block;
    padding: 0 10px;
  }
  a {
    display: block;
    font-size: 35px;
    color: $secondary-color;
  }
}