/*
  ========================================
  PopUp Section
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.popup-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 110px 0;
  z-index: 4;
  display: none;
  background: rgba(59, 67, 76, 0.7);
  @include tablet-lg {
    padding: 50px 0;
  }
  @include tablet {
    padding: 25px 0;
  }
  .popup-item {
    z-index: 0;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    background: $primary-color;
    padding: 30px 0;
    position: relative;
    @include tablet-lg {
      width: 70%;
    }
    @include tablet {
      width: 90%;
      padding: 10px;
    }
    button {
      position: absolute;
      right: -10px;
      top: -15px;
      z-index: 1;
      background: #3b434c;
      border: 0;
      cursor: pointer;
      outline: 0;
      font-size: 25px;
      color: $primary-color;
      border-radius: 50%;
    }
    .popup-title {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 45px;
      @include tablet {
        padding: 10px;
      }
      h2 {
        font-size: 34px;
        text-transform: uppercase;
        padding-bottom: 18px;
        color: $third-color;
        @include tablet {
          font-size: 20px;
        }
      }
      span {
        font-weight: 900;
        color: $secondary-color;
      }
      p {
        line-height: 1.9em;
        color: $third-color;
        @include tablet {
          line-height: 1em;
          font-size: 14px;
        }
      }
    }
    .popup-wrapper {
      width: 80%;
      margin: 0 auto;
      font-family: $primary-font;
      @include clearfix;
      .popup-register {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background: $primary-color;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        border-radius: 13px;
        color: $third-color;
        text-align: left;
        padding: 15px;
        box-sizing: border-box;
      }
      .popup-subject {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        background: $primary-color;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        border-radius: 13px;
        color: $third-color;
        text-align: left;
        padding: 15px;
        box-sizing: border-box;
      }
      .popup-message {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 18px;
        border-radius: 13px;
        font-weight: 500;
        color: $third-color;
        height: 120px;
        text-align: left;
        padding: 15px;
        box-sizing: border-box;
        max-width: 100%;
        max-height: 200px;
      }
      .popup-button {
        display: inline-block;
        float: left;
        width: 100%;
        background: $secondary-color;
        border: 1px solid $secondary-color;
        font-size: 16px;
        color: $primary-color;
        font-weight: 700;
        height: 47px;
        border-radius: 13px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}