/*
  ========================================
  Pre-Header
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.pre-header {
  height: 48px;
  transition: all .4s ease-in-out;
  z-index: 4;
  background: #000;
  @include clearfix;
  @include tablet {
    display: none;
  }
  .social-box {
    float: left;
    padding-top: 5px;
    position: relative;
    @include clearfix;
    li {
      float: left;
      display: inline-block;
      padding: 0 10px;
      a {
        display: block;
        font-size: 35px;
        color: $secondary-color;
      }
    }
  }
}

.log-wrapper {
  float: right;
  padding-top: 15px;
  ul {
    @include clearfix;
    li {
      float: left;
      padding-left: 20px;
      a {
        display: block;
        cursor: pointer;
        font-size: 15px;
        color: $third-color;
        &:hover {
          color: $secondary-color;
        }
      }
      p {
        display: inline-block;
        padding-left: 5px;
        font-weight: 900;
      }
    }
  }
}