/*
  ========================================
  Scroll to Top
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  z-index: 2;
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  border: 1px solid $primary-color;
  color: $primary-color;
  background: rgba(2, 186, 171, 0.8);
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    background: rgba(78, 78, 78, 0.8);
  }
}