//Blog-Masonry//
@import "../util/variable";
@import "../mixins/util";

.blog-masonry {
  position: relative;

  .blog-masonry-wrapper {
    img {
      display: block;
      width:100%;
    }
  }

  .secondary-wrapper {
    position: relative;
    top: -75px;
  }
  .blog-masonry-title {
    float: left;

    h2 {
      font-size: 30px;
      font-weight:200;
      color: #ffffff;
    }
  }

  .masonry-navbar {
    float: right;

    .masonry-navbar-wrapper {
      @include clearfix;

      li {
        float: left;
        position: relative;

      &:after {
        content: "/";
        position: absolute;
        top: 13px;
        color: #fff;
        right: 0;
        bottom: 0;
        left: -4px;
        width: 15px;
        display: block;
      }
      &:first-child:after {
          display: none;
      }

        a {
          display: block;
          padding: 15px 10px 0;
          color: #ffffff;
          font-size: 12px;
          text-decoration: none;
          text-transform: capitalize;
          font-weight: 300;
        }
      }
    }
  }

  @font-face{font-family:'Calluna';
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
  }
  body {
    background: url(//subtlepatterns.com/patterns/scribble_light.png);
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
  }
  #columns {
    column-width: 290px;
    column-gap: 15px;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
  }

   figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    display: inline-block;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }

  div#columns figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
    z-index:0;
  }


  div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
  }

  div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
  }

  div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
  }


  @media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
  }

  .image-wrapper {
    position: relative;
    &:hover {
      .chain-link {
        display: block;
      }
    }
    .chain-link {
      content: ' ';
      position: absolute;
      left: 40%;
      right: 0;
      top: 40%;
      bottom: 0;
      display:none;
      font-size: 30px;
      color: #ffffff;
      text-decoration: none;
      z-index:999;

      a {
        background-color: #FFFF00;
        padding: 5px 10px;
        border-radius: 50%;
      }
    }
  }

  .image-wrapper:hover:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 22px;
    background-color: rgba(0,0,0,.8);
  }

  #columns {

    h4 {
    font-size:18px;
    font-weight:200;
    color: #02baab;
    line-height:24px;
    padding: 30px 0;

      &:hover {
        color: #6d0fae;
      }
    }

    p {
      font-size:14px;
      padding-bottom:10px;
    }

    .blog-article-details {
      @include clearfix;
      padding:10px 0;
      border-bottom: 1px solid #c3c3c3;
      border-top: 1px solid #c3c3c3;

      a {
        font-size: 12px;
        color: #747474;
        text-decoration: none;
        background-color: #eeeeee;
        padding: 3px 6px;
        border-radius: 50%;

        &:after {
          width: 15px;
          height: 15px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: #eeeeee;
        }
      }
      p {
        display: inline-block;
        font-size:10px;
        margin-left: 5px;
      }

      li {
        float: left;

        &:last-child {
          float: right;
        }
      }
    }

    .show-more-toggle {
      display: none;
    }
  }

  .show-more-posts {
    padding-bottom:50px;
    cursor: pointer;
    p {
      font-size:18px;
      font-weight:700;
      color: #02baab;
      text-align: center;
    }
    
    a{
      display: block;
      margin-top:5px;
      text-align: center;
      font-size:24px;
      color: #02baab;
    }
  }
}
