/*
  ========================================
  Blog Section
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.blog-section {
  padding: 50px 0;
  img {
    display: block;
    width: 100%;
  }
  .blog-section-title {
    position: relative;
    h2 {
      font-family: $primary-font;
      font-size: 34px;
      font-weight:200;
      color: #3b4954;
      text-align: center;
      padding-bottom: 95px;
    }
    &:after {
      position: absolute;
      content: '';
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      width: 50px;
      height: 5px;
      background-color: #eee;
    }
  }
  .blog-description {
    position: relative;
    padding-bottom: 30px;
    @include tablet {
      padding-bottom: 15px;
    }
    &:hover {
      h4,
      .blog-article-details li a {
        color: #6d0fae;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 200;
      color: $secondary-color;
      padding: 30px 0;
      line-height: 22px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      color: #747474;
    }
    .blog-article-details {
      @include clearfix;
      padding: 20px 0;
      border-bottom: 1px solid #c3c3c3;
      a {
        display: inline-block;
        font-size: 14px;
        color: $secondary-color;
        text-decoration: none;
      }
      p {
        display: inline-block;
        font-size: 14px;
      }
      li {
        float: left;
        &:last-child {
          float: right;
        }
      }
    }
  }
}