/*
  ========================================
  Blog Grid Section
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.blog-title {
  display: none;
  padding-top: 20px;
  @include tablet {
    display: block;
  }
  h2 {
    position: relative;
    font-family: $primary-font;
    font-size: 34px;
    font-weight:200;
    color: #3b4954;
    text-align: center;
    padding-bottom: 30px;
    &:after {
      position: absolute;
      content: '';
      top: 60px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      width: 50px;
      height: 5px;
      background-color: #eee;
    }
  }
}

.blog-grid-wrapper {
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
}
.grid-secondary-wrapper {
  position: relative;
  top: -150px;
  @include laptop {
    top: -105px;
  }
  @include tablet-lg {
    top: -75px;
  }
  @include tablet {
    display: none;
  }
  .blog-grid-title {
    float: left;
    h2 {
      font-size: 30px;
      font-weight: 200;
      color: $primary-color;
      padding-bottom: 47px;
      @include tablet-lg {
        padding-bottom: 15px;
      }
    }
    ul {
      @include clearfix;
      li {
        float: left;
        padding-right: 20px;
        .blog-icon {
          display: inline-block;
          width: 25px;
          height: 25px;
          border: 0;
          border-radius: 50%;
          background: #3b4954;
          a {
            position: relative;
            top: 4px;
            display: block;
            font-size: 15px;
            color: $primary-color;
            text-align: center;
          }
        }
        p {
          position: relative;
          top: 3px;
          display: inline-block;
          color: $primary-color;
          font-size: 13px;
          font-weight: 300;
          padding-left: 5px;
        }
      }
    }
  }
  .blog-grid-navbar {
    float: right;
    margin-top: 80px;
    @include tablet-lg {
      margin-top: 48px;
    }
    .grid-navbar-wrapper {
      @include clearfix;
      li {
        float: left;
        position: relative;
        &:after {
          content: "/";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: -3px;
          color: $primary-color;
        }
        &:first-child:after {
          display: none;
        }
        a {
          display: block;
          padding: 3px 10px;
          color: $primary-color;
          font-size: 13px;
          text-decoration: none;
          text-transform: capitalize;
          font-weight: 300;
        }
      }
    }
  }
}

.blog-pagination {
  text-align: center;
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    @include clearfix;
    li {
      display: inline-block;
      float: left;
      a {
        position: relative;
        padding: 6px 20px;
        color: $secondary-color;
        border: none;
        text-decoration: none;
        background-color: #fff;
        &:hover {
          color: #6d0fae;
          background-color: #eee;
        }
      }
    }
  }
}