/*
  ========================================
  Company Experience
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.company-experience {
  background: $secondary-color;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  @include tablet-lg {
    padding: 20px 0;
  }
  .title {
    position: relative;
    padding-bottom: 85px;
    strong {
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: center;
      font-size: 33px;
      color: $primary-color;
      font-family: $primary-font;
      font-weight: 400;
      &:after {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        content: "";
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 5px;
        background: #eee;
        @include tablet {
          top: 50px;
        }
      }
      @include tablet-lg {
        padding-bottom: 15px;
      }
    }
  }
}

.company-item {
  position: relative;
  margin: 0 auto 26px;
  &:after {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f141";
    position: absolute;
    top: 35%;
    font-size: 50px;
    color: $primary-color;
    right: -30px;
    @include tablet-lg {
      display: none;
    }
  }
  svg {
    height: 240px;
    width: 240px;
    circle {
      stroke-width: 3px;
      fill: transparent;
    }
  }
  &.item-gear {
    #grey {
      stroke: $primary-color;
      opacity: 0.2;
    }
    #white {
      stroke: $primary-color;
      stroke-dasharray: 180, 63;
      stroke-dashoffset: -210;
    }
  }
  &.item-phone {
    #grey {
      stroke: $primary-color;
      opacity: 0.2;
    }
    #white {
      stroke: $primary-color;
      stroke-dasharray: 180, 113;
      stroke-dashoffset: -210;
    }
  }
  &.item-rocket {
    &:after {
      display: none;
    }
    #grey {
      stroke: $primary-color;
      opacity: 0.2;
    }
    #white {
      stroke: $primary-color;
      stroke-dasharray: 180, 30;
      stroke-dashoffset: -210;
    }
  }
  .company-image {
    position: absolute;
    content: "";
    top: 25%;
    left: 0;
    right: 0;
    height: 115px;
    width: 115px;
    margin: 0 auto;
    background: #000;
    border: 0;
    border-radius: 50%;
    a {
      display: block;
      color: #fff;
      font-size: 80px;
      padding-top: 15px;
    }
  }
}

.company-description {
  width: 80%;
  margin: 0 auto;
  span {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: $primary-color;
    font-size: 40px;
    padding-bottom: 10px;
  }
  p {
    color: $primary-color;
    font-size: 20px;
  }
}