/*
  ========================================
  Features
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

.features {
  padding: 70px 0;
  @include tablet-lg {
    padding: 15px 0;
  }
  .title {
    position: relative;
    padding-bottom: 55px;
    strong {
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      font-family: $primary-font;
      font-weight: 400;
      &:after {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        content: "";
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 7px;
        background: #eee;
        @include tablet {
          top: 50px;
        }
      }
      @include tablet-lg {
        padding-bottom: 15px;
      }
    }
  }
  ul {
    @include clearfix;
    li {
      float: left;
      display: inline-block;
      width: 50%;
      padding: 20px 0;
      @include phone {
        width: 100%;
      }
    }
  }
}

.feature-wrapper {
  @include clearfix;
  .feature-row {
    float: left;
    width: 20%;
    text-align: center;
    @include tablet-lg {
      width: 25%;
    }
    a {
      display: block;
      font-size: 45px;
      color: $secondary-color;
    }
  }
  .feature-description {
    float: left;
    width: 80%;
    @include tablet-lg {
      width: 75%;
    }
    span {
      display: block;
      box-sizing: border-box;
      font-size: 20px;
      text-align: left;
      padding-bottom: 16px;
      min-height: 50px;
      font-family: $primary-font;
    }
    p {
      text-align: left;
      font-size: 15px;
      line-height: 1.3em;
      font-family: $primary-font;
    }
  }
}