@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";

//Header
.blog-section {
  padding: 50px 0;
  img {
    display: block;
    width: 100%
  }
  .blog-section-title {
    position: relative;
    h2 {
      font-family: $primary-font;
      font-size: 34px;
      font-weight:200;
      color: #3b4954;
      text-align: center;
      padding-bottom: 95px;
    }
    &:after {
      position: absolute;
      content: '';
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      width: 50px;
      height: 5px;
      background-color: #eee;
    }
  }
  .blog-description {
    position: relative;
    padding-bottom: 30px;
    @include tablet {
      padding-bottom: 15px;
    }
    &:hover {
      h4,
      .blog-article-details li a {
        color: #6d0fae;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 200;
      color: $secondary-color;
      padding: 30px 0;
      line-height: 22px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      color: #747474;
    }
    .blog-article-details {
      @include clearfix;
      padding: 20px 0;
      border-bottom: 1px solid #c3c3c3;
      a {
        display: inline-block;
        font-size: 14px;
        color: $secondary-color;
        text-decoration: none;
      }
      p {
        display: inline-block;
        font-size: 14px;
      }
      li {
        float: left;
        &:last-child {
          float: right;
        }
      }
    }
  }
}

//Content
.slider-photo img {
  width:100%;
  margin-bottom: 120px;
}
.work-description {
  line-height: 1.8em;
  p {
    display: inline-block;
  }
  i {
    color: #ffae00;
  }
}
.portofolio-description {
  line-height: 1.2em;
  small {
    display: inline-block;
  }
  span {
    display: block;
    color: #ffae00;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 15px;
    line-height: 1.5em;
  }
  strong {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  a {
    text-decoration: none;
    color: #ffae00;
    font-weight: 800;
    border: 3px solid #ffae00;
    padding: 10px 25px;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
  }
}
.portofolio-wrapper {
  color: #3b4954;
}


//Footer
.social-buttons li {
  display: inline-block;
}
.social-buttons {
  text-align:center;
  padding-bottom: 5%;
  a {
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 9px;
    box-sizing: border-box;
    display: inline-block;
    //margin-right: 5%;
  }
  i {
    font-size: 23px;
    margin-left: 10px;
  }
  p {
    display: inline-block;
    margin-left: 4px;
  }
  ul {
    text-align: left;
  }
}
.social-buttons li:first-child a {
  background-color: #3b5998;
  padding-left:5px;
}
.social-buttons li:nth-child(2) a {
  background-color: #00aced;
}
.social-buttons li:nth-child(3) a {
  background-color: #bb0000;
}
.social-buttons li:nth-child(4) a {
  background-color: #9b6954;
}
.social-buttons li:nth-child(5) a {
  background-color: #cb2027;
}

footer {
  background-color: #1f2a32;
}
.contact-details {
  i {
    color: #02baab;
    font-size: 22px;
  }
  p {
    color :#6a7782;
    display: inline;
    margin-left: 3px;
    span {
      color: #fff;
    }
  }
}
footer {
  p {
    color:#fff;
    line-height:1.5em;
  }
}
.footer-wrapper {
  padding-top: 70px;
  font-size : 13px;
  h6 {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 300;
    padding-bottom: 30px;
  }
  li {
    padding-bottom: 20px;
  }
}
.posts {
  p {
    color: #02baab;
  }
  small {
    color: #fff;
    padding-bottom: 7px;
  }
}
.tweets {
  span {
    color : #02baab;
  }
  small {
    padding-top: 15px;
  }
}
.footer-secondary-section {
  float: left;
  margin-top:50px;
  margin-bottom:30px;
}
.tweets {
  i{
    color: #02baab;
    font-size:23px;
  }
  small {
    color: #6a7782;
    display: inherit;
  }
  p {
    display: inline;
    padding-left:5px;
  }
  a {
    display: inherit;
    color: #02baab;
    padding-top: 4px;
    text-decoration: none;
  }
}
.posts {
  p {
    padding-top: 15px;
  }
}
.footer-primary-section {
  @include clearfix;
}