/*
  ========================================
  Slider
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";
@import "../common/slick";
@import "../common/slick-theme";

.slider-image {
  position: relative;
  img {
    width: 100%;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.slider-text {
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin-left:-25%;
  width: 50%;
  text-align: center;
  z-index:2;
  @include tablet-lg {
    top: 30%;
  }
  @include tablet {
    position: relative;
    left: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
  }
  h2 {
    font-size: 60px;
    color: $secondary-color;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 3%;
    text-shadow: 1px 1px #000;
    @include tablet-lg {
      font-size: 30px;
    }
  }
  span {
    display: block;
    font-size: 60px;
    color: $primary-color;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px #000;
    padding-bottom:20%;
    @include tablet-lg {
      font-size: 30px;
      padding-bottom: 5%;
    }
  }
}

.first-slider-button {
  position: relative;
  margin-right: 15px;
  display: inline-block;
  border: 2px solid $primary-color;
  padding: 15px;
  width: 180px;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.5);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  &:hover {
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:before {
      opacity: 0;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      z-index: -1;
    }
  }
  @include tablet-md {
    margin-right: 0;
    margin-bottom: 10px;
  }
  @include tablet {
    margin-right: 0;
    margin-bottom: 10px;
  }
  a {
    display: block;
    color: $primary-color;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
  }
}

.second-slider-button {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  border: 2px solid $primary-color;
  padding: 15px;
  width: 180px;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.5);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  &:hover {
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.4s ease-in-out;
    &:before {
      opacity: 0;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      z-index: -1;
    }
  }
  @include tablet {
    margin-left: 0;
  }
  @include tablet-md {
    margin: 0;
  }
  a {
    display: block;
    color: $primary-color;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    text-decoration: none;
    z-index: 1;
    text-transform: uppercase;
    outline: none;
  }
}

.main-slider {
  .slick-dots {
    bottom: 30px !important;
    @include tablet {
      bottom: 225px !important;
    }
    li {
      margin-right: 10px;
      button {
        &:before {
          content: "";
          border: 0;
          background: $primary-color;
          display: block;
          height: 2px;
          width: 20px;
          outline: none;
          font-size: 0;
          color: transparent;
          padding: 3px;
          cursor: pointer;
        }
      }
    }
    .slick-active {
      button {
        &:before {
          background: $secondary-color;
        }
      }
    }
  }
}

.slick-dotted {
  &.slick-slider {
    margin-bottom: 0 !important;
  }
}

