/*
  ========================================
  Testimonials
  ========================================
*/

@import "../util/variable";
@import "../mixins/responsive";
@import "../mixins/util";
@import "../common/slick";
@import "../common/slick-theme";

.testimonial-slider {
  .slick-dots {
    bottom: 70px !important;
    @include tablet-lg {
      bottom: 20px !important;
    }
    li {
      button {
        &:before {
          font-size: 15px;
          color: $secondary-color !important;
        }
      }
    }
    &.slick-active {
      button {
        &:before {
          color: $secondary-color !important;
        }
      }
    }
  }
}

.testimonial-slider {
  .sliderbackground {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
    img {
      width: 100%;
    }
    .testimonial-description {
      position: absolute;
      top: 15%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      width: 45%;
      text-align: center;
      z-index: 1;
      @include laptop {
        width: 80%;
        top: 20px;
      }
      @include tablet {
        width: 97%;
        top: 5px;
      }
      @include phone {
        position: static;
        padding: 10px;
      }
      a {
        display: block;
        color: $secondary-color;
        font-size: 50px;
        margin-bottom: 50px;
        @include laptop {
          margin-bottom: 10px;
          font-size: 25px;
        }
        @include tablet {
          display: none;
        }
      }
      p {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
        color: $primary-color;
        margin-bottom: 25px;
        text-shadow: 1px 1px #000;
        @include laptop {
          font-size: 17px;
          margin-bottom: 10px;
        }
      }
      span {
        color: $secondary-color;
        text-transform: uppercase;
        font-size: 14px;
        &:before {
          position: absolute;
          width: 15px;
          height: 2px;
          background: $secondary-color;
          display: block;
          content: '';
          margin-top: 9px;
          left: 32%;
          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}


